# 大模型 API 配置
OPENAI_BASE_URL=https://api.siliconflow.cn/v1
OPENAI_API_KEY=sk-ruglbzcanhfmsmtxyjeuoxpfirurmdynhkepktnrwrtibzlo

# 模型选择
## 模型信息-硅基流动
#OPENAI_MODEL=Qwen/Qwen2.5-7B-Instruct
VISION_MODEL=Qwen/Qwen2-VL-72B-Instruct
TEXT_MODEL=Qwen/Qwen2.5-72B-Instruct

# 其他可选模型：
# VISION_MODEL=gpt-4o
# TEXT_MODEL=gpt-4o
